.admin-page-index-col {
    width: 10%;
    height: 180px;
    font-size: 50px;
    text-align: center;
}



.admin-page-image-col {
    width: 13%;
    height: 180px;
}

.admin-page-image-col img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.admin-page-detail-col {
    width: 57%;
    height: 180px;
    
}

.admin-page-function-col {
    width: 20%;
    height: 180px;
    padding-top:50px;
}

.admin-page-name {
    font-size: 25px;
    color: black;
}

